body {
    background-color: #fbb782;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* so this affects the whole page */
    margin: 0;
    padding: 0;     
}

header{
    background-color: #A52403;
    color:rgb(0, 0, 0);
    text-align: center;
    font-weight:bolder;
    
    /* this changes how big you want the header to be*/
    padding: 50px 50px;

    /* you need to add a url u cant do photo from your laptop*/
    background-image: url("https://secure.caes.uga.edu/news/multimedia/images/5668/takeoutfoodLR.jpg");
}

header h1{
    background: #fbb782;
}

h1 {
    max-inline-size: 20%;
}

nav ul li{
    display: inline;
    list-style-type: none;
}
  /* affetcs the individual <a> and adds color and padidng to them while the above affects the list as a while */
nav ul li a{
    color:white;
    padding: 10%;    /* padding inbetween words */
}
  /* creates a 6x3 grid and the repeat() makes the same size grid # amnt of times,fr means how big u want each grid space to be */
.container{
    display:grid;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: repeat(3,1fr);
    /* gap:20px; */
}

#Menu{
    text-align: center;
    grid-column: 2/3;
    grid-row:1/2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 40px;
}

#productOne{
    grid-column: 1/2;
    grid-row: 2/3;
}

#productTwo{
    grid-column: 3/4;
    grid-row: 2/3;
}

#productThree{
    grid-column: 2/3;
    grid-row: 3/4;
}

#productFour{
    grid-column: 1/2;
    grid-row:4/5;
}

#productFive{
    grid-column: 3/4;
    grid-row:4/5;
    
}
.product{
    /* justify makes the image + wording come to the middle. why we use self here and not justify-content? */
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
}

/* affects specifically the images with .products class */
.product img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    box-shadow: 20px 20px 25px #fff;
}

#drinkstitle{
    /* span bascially saying go from 1-5 collums  */
    grid-column: span 5;
    justify-self: center;
    align-self:center;

    /* justify - goes left to right
        align - goes up to down
        "stretch" is default
        self- means product itself and content means all in one class */

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 20px;
}

#drinks1{
    grid-column: 1/2;
    grid-row: 6/7;
    justify-self: end;
    align-self: stretch;
}
#drinks2{
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: center;
    align-self: stretch;
}
#drinks3{
    grid-column: 3/4;
    grid-row: 6/7;
    justify-self: start;
    align-self: stretch;
}

/* style type means if u want bullet points or not */
.drinks ul li{
    list-style-type: none;
}

/* how can i make a whole row in a grid one color? */
.drinks{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
    background-color:#A52403;
    color: #fffcfc;
}
