body {
    background-color: #fbb782;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    /* question on this and */
    margin: 0;
    padding: 0;     
}

header{
    background-color: #A52403;
    /* help with this */
    color:white;
    text-align: center;
    font-weight:bolder;
    
    /* and this (how does padding work here???)*/
    padding: 10px 100px;

}

nav ul li{
    display: inline;
    list-style-type: none;
}

nav ul li a{
    color:white;
    padding: 10%;    /* padding inbetween words */
}

#drivethruopen {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
}

.container{
    display:grid;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

#Menu{
    text-align: center;
    grid-column: 2/3;
    grid-row:1/2;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 40px;
}

#productOne{
    grid-column: 1/2;
    grid-row: 2/3;
}

#productTwo{
    grid-column: 3/4;
    grid-row: 2/3;
}

#productThree{
    grid-column: 2/3;
    grid-row: 3/4;
}

#productFour{
    grid-column: 1/2;
    grid-row:4/5;
}

#productFive{
    grid-column: 3/4;
    grid-row:4/5;
    
}
.product{
    justify-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
}
.product img{
    width: 400px;
    height: 200px;
    object-fit: cover;

}

.container #drinkstitle{
    grid-column: span 5;
    justify-self: center;
    align-self:baseline;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 20px;
}

.container #drinks1{
    grid-column: 1/2;
    grid-row: 6/7;
    justify-self: center;
    align-self: center;
}
.container #drinks2{
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: center;
    align-self: start;
}
.container #drinks3{
    grid-column: 3/4;
    grid-row: 6/7;
    justify-self: center;
    align-self: center;
}

.container .drinks ul li{
    list-style-type: none;
}
.container .drinks{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
}
